<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3">
        <div>
          <h4>Rooms Table Details</h4>
          <p>You can check all details</p>
        </div>
      </div>

      <div class="col-md-4">
        <button routerLink="/dashboard/rooms/add" class="primary w-75 mt-5">Add New Room</button>
      </div>

      <div class="col-md-6 mt-3">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input [(ngModel)]="searchValue" (keyup)="onSearchInputChange()" type="text" placeholder="Search Here...."
            class="form-control rounded">
        </div>
      </div>

      <div class="col-md-3 mt-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>All</option>
          <option></option>
        </select>
      </div>

      <div class="col-md-3 mt-3">
        <select  [(ngModel)]="facilityId" (change)="getAllRooms()" class="form-select" aria-label="facilities">
          <option selected>All</option>
          <option *ngFor="let item of facilities" [ngValue]="item._id">{{item.name}}</option>
        </select>
      </div>
    </div>


    <table class="table table-striped">
      <thead>
        <tr>
          <th class="rounded-start">room Number</th>
          <th>Image</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Capacity</th>
          <th>Category</th>
          <th class="rounded-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData">
          <td>{{item.roomNumber}}</td>
          <td class="w-25 rounded-2"><img [src]="imagePath +item.images" class="w-50"></td>
          <td>{{item.price}}</td>
          <td>{{item.discount}}</td>
          <td>{{item.capacity}}</td>
          <td>{{item.facilities[0].name}}</td>

          <td class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis" style="color: #1f5141;"></i>
            </a>
            <ul class="dropdown-menu">
              <div class="d-flex flex-column align-items-center">
          <td class=" my-0">
            <a (click)="openViewDialog('2000ms','2000ms')" class="text-decoration-none cursor bg-btn"><i
                class="fa-regular fa-eye mx-2 bg-icon"></i>View</a>
          </td>
          <td>
            <a [routerLink]="['/dashboard/rooms/edit',item._id]" class="text-decoration-none cursor bg-btn"><i class="fa-solid fa-pen-to-square mx-2 bg-icon"></i>Edit</a>
          </td>
          <td>
            <a (click)="openDeleteDialog(item._id)" class="text-decoration-none cursor bg-btn"><i
                class="fa-solid fa-trash-can mx-2 bg-icon"></i>Delete</a>
          </td>
  </div>
  </ul>
  </td>
  </tr>
  </tbody>
  </table>

  <div>
    <mat-paginator [length]="tableResponse?.totalCount" [pageSizeOptions]="[5, 10, 50, 100]"
      [pageSize]="tableResponse?.size" (page)="handlePageEvent($event)" [pageIndex]="pageIndex"
      aria-label="Select page">
    </mat-paginator>
  </div>

  </div>
</section>