<section id="features">
    <div class="container">

        <div class="row my-5">
            <h3>{{'features.features-work!'|translate}}</h3>
            <div class="col-md-3">
                <div >
                    <img src="../../../../../../../../assets/images/Town.png" class="w-100" alt="">

                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img src="../../../../../../../../assets/images/house.png" class="w-100" alt="">

                </div>

            </div>
            <div class="col-md-3">
                <div>

                    <img src="../../../../../../../../assets/images/Rain.png" class="w-100" alt="">
                </div>

            </div>
            <div class="col-md-3">
                <div>
                    <img src="../../../../../../../../assets/images/pit.png" class="w-100" alt="">

                </div>

            </div>
        </div>
        <div class="row my-5">
            <h3>{{'features.Featurs-title'|translate}}</h3>
            <div class="col-md-3">
                <div>
                    <img src="../../../../../../../../assets/images/park.png" class="w-100" alt="">

                </div>
            </div>
             <div class="col-md-3">
                <div>
                    <img src="../../../../../../../../assets/images/podo.png" class="w-100" alt="">

                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img src="../../../../../../../../assets/images/silver.png" class="w-100" alt="">

                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img src="../../../../../../../../assets/images/cashbillo.png" class="w-100" alt="">

                </div>
            </div>
        </div>
    <div class="row ">
        <h3>{{'features.title'|translate}}</h3>

        <div class="col-md-3">
            <div >
                <img src="../../../../../../../../assets/images/ps.png" class="w-100" alt="">
            </div>
        </div>
<div class="col-md-3">
    <div>
        <img src="../../../../../../../../assets/images/One.png" class="w-100" alt="">

    </div>
</div>
            <div class="col-md-3">
                <div>
                    <img src="../../../../../../../../assets/images/Minimal.png" class="w-100" alt="">

                </div>

            </div>
            <div class="col-md-3">
                <div>
                    <img src="../../../../../../../../assets/images/Stays.png" class="w-100" alt="">

                </div>

            </div>
    </div>

    </div>
</section>