<section id="features">
    <div class="container-fluid">

        <div class="row" >
            <h3>{{'features.features-work!'|translate}}</h3>
            <div   class="col-md-3  " *ngFor="let item of roomsData">
                <img [src]="item.images" class="w-75" alt=""/>
                    <div class="links">
                              <a><i class="fa-regular fa-2x fa-heart"></i></a>


                              <a  [routerLink]="['/landingPage/home/rooms', roomsData[0]._id]"  ><i class="fa-regular fa-2x fa-eye"></i></a>
                      </div>
                   <div>

                    <h5 class="$text-secondryColor">{{'features.town'|translate}}</h5>
                          <p class="$bg-colorGray">{{'features.town-paragh'|translate}}</p>
                        </div>
            </div>

            


          
            <h3>{{'features.Featurs-title'|translate}}</h3>
            <div class="col-md-3" *ngFor="let item of roomsData">
                
                    <img [src]="item.images" class="w-75" alt=""/>
                    <div class="links">
                        <a><i class="fa-regular fa-2x fa-heart"></i></a>


                        <a  [routerLink]="['/landingPage/home/rooms', roomsData[0]._id]"  ><i class="fa-regular fa-2x fa-eye"></i></a>
                </div>
                <div>
                    <h5 class="$text-secondryColor">{{'features.Park'|translate}}</h5>
                          <p class="$bg-colorGray">{{'features.Park-paragh'|translate}}</p>

                </div>
            </div>
          
         
        
        <h3>{{'features.title'|translate}}</h3>

        <div class="col-md-3" *ngFor="let item of roomsData">
            
                <img [src]="item.images" class="w-75" alt=""/>
                <div class="links">
                    <a><i class="fa-regular fa-2x fa-heart"></i></a>


                    <a  [routerLink]="['/landingPage/home/rooms', roomsData[0]._id]"  ><i class="fa-regular fa-2x fa-eye"></i></a>
            </div>
            <div>
                <h5 class="$text-secondryColor">{{'features.Wood'|translate}}</h5>
                      <p class="$bg-colorGray">{{'features.Wood-paragh'|translate}}</p>

            </div>
        </div>

</div>



</div>
</section>

