<section>
  <div class="container">
    <div class="row">
      <div>
        <h4>Ads Table Details</h4>
        <p>You can check all details</p>
      </div>
      <div class="row my-3">
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input (keyup)="onSearchInputChange()" type="text" placeholder="Search Here...."
              class="form-control rounded" />
          </div>
        </div>
        <div class="col-md-3 mx-auto">
          <button type="button" (click)="openAddDialog()" class="primary w-100">
            Add New Ad
          </button>
        </div>
      </div>


      <table>
        <thead>
          <tr>
            <th class="rounded-start">Room Number</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Capacity</th>
            <th>Status</th>
            <th class="rounded-end">Actions</th>
            <!-- <th>Category</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of adsItems let isEven = even" [class]="isEven ? '':'bg-table'">
            <td class="rounded-start">{{ item.room?.roomNumber }}</td>
            <td>{{item.room?.price}}</td>
            <td>{{item.room?.discount}}</td>
            <td>{{item.room?.capacity}}</td>
            <td class="rounded-start"  ><span class="status w-100" [ngClass]="item.isActive?'active':'notActive'">
            {{ item.isActive?'active': 'not Active' }}
          </span>
            <!-- <td class="rounded-start" *ngFor="let itemFacilities of facilities">{{ itemFacilities.name }}</td> -->

              <td class="nav-item dropdown rounded-end">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-ellipsis"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item pointer" (click)="openViewDialog('1000ms', '1000ms', item)"
                        ><i  class="fa-regular fa-eye mx-2 bg-icon"></i>View</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item pointer" (click)="openEditDialog(item)"
                        ><i class="fa-solid fa-pen-to-square mx-2 bg-icon"></i>Edit</a>
                    </li>
                    <li>
                      <a class="dropdown-item pointer" (click)="openDeleteDialog(item)"
                        ><i class="fa-solid fa-trash-can mx-2 bg-icon"></i>Delete</a
                      >
                    </li>
                </ul>
              </td>
            </tr>
        </tbody>
      </table>
      <!-- <div class="p-3">
        <mat-paginator
          [length]="tableData?.totalCount"
          [pageSizeOptions]="[5, 10, 50, 100]"
          (page)="handlePageEvent($event)"
          [pageIndex]="pageIndex"
          aria-label="Select page">
        </mat-paginator>
      </div> -->
    </div>
  </div>
</section>
