<nav class="navbar navbar-expand-lg bg-body-white py-3 shadow-sm" id="nav-land">
    <div class="container">
      <div class="logo text-decoration-none cursor-pointer" [routerLink]="['/landingPage/home']" >Stay<span>cation.</span>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-4 mb-lg-0" [class]="_HelperService.textDir === 'ltr'?'ms-auto':'me-auto'">
          <li class="nav-item">
            <a class="nav-link active text-primary" routerLink="/landingPage/home" aria-current="page" >{{'nav.Home'|translate}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/landingPage/home/rooms">{{'nav.Explore'|translate}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/landingPage/home/feadback" >{{'nav.Reviews'|translate}}</a>
          </li>

          <li class="nav-item fw-bolder text-secondryColor" *ngIf="userRole != 'user'" [class]="_HelperService.textDir === 'ltr'?'ms-5':'me-3'">
            <button class="nav-link btn primary" routerLink="/auth/signin">{{'Signin'|translate}}</button>
          </li>
          <li class="d-flex">
            <ng-container *ngIf="userRole == 'user'">
              <a class="nav-link text-secondryColor" >Hello,{{userName}} </a>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="p-0" aria-label="Example icon-button with a menu">
                  <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button  routerLink="/landingPage/home/yourProfile" mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Profile</span>
                  </button>
                  <button  routerLink="/landingPage/home/favourites" mat-menu-item>
                    <mat-icon>favorite</mat-icon>
                    <span>Your Favourites</span>
                  </button>
                  <button (click)="openDialogLogOut()" mat-menu-item>
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                  </button>
                </mat-menu>

            </ng-container>
          </li>
        </ul>

      </div>
      <div [class]="_HelperService.textDir === 'ltr'?'ms-4':'me-4'">
        <button class="outline-primary" (click)="onChangeLang('en')">En</button>
        <button class="outline-primary" (click)="onChangeLang('ar')">Ar</button>
      </div>
      <span class="mx-2"><app-dark></app-dark></span>

    </div>


  </nav>
