<nav class="navbar navbar-expand-lg bg-body-white py-4">
    <div class="container">
      <div class="logo text-decoration-none" href="#">Stay<span>cation.</span>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-4 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-primary" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Browse by</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="#">Stories</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Agents</a>
          </li>
        </ul>
       
      </div>
      <div [class]="_HelperService.textDir === 'ltr'?'ms-5':'me-5'">
        <button (click)="onChangeLang('en')">En</button>
        <button (click)="onChangeLang('ar')">Ar</button>
      </div>
      
    </div>
    
    
  </nav>