@import "/src/assets/styles/abstracts/_variables.scss";

.auth{
  .row{
    height: 100vh;
    padding: 1rem;
  }
  .card-auth{
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    .header-auth{
      h2{
        margin-bottom: 1rem;
        font-weight: 500;
      }
      span{
        color: $text-secondryColor;
        font-weight: bold;
      }
    }
    .form-group{
      margin-bottom: 1.5rem;
      label{
        color: $text-secondryColor;
        margin-left: 10px;
      }
      input{
        background-color: #F5F6F8;
      }
      a{
        color: $text-secondryColor;
        font-weight: bold;
      }
    }
  }
  .caption{
    color: $text-whiteColor;
    h2{
      font-weight: 600;
    }
  }
}

#signin{
    .cover{
      background-image: linear-gradient(51deg, rgba(23, 33, 33, 0.15) -22.39%, rgba(0, 0, 0, 0.2) 50%),
       url(../../../images/signin.jpeg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 0.9375rem;
    }
}

#signup{
  .cover{
    background-image: linear-gradient(51deg, rgba(23, 33, 33, 0.15) -22.39%, rgba(0, 0, 0, 0.2) 50%),
     url(../../../images/signup.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 0.9375rem;
  }
}



