@import "/src/assets/styles/abstracts/_variables.scss";

.auth{
  .row{
    height: 100vh;
    padding: 1rem;
  }
  .card-auth{
    width: 75%;
    margin: auto;
    margin-top: 1rem;
    .header-auth{
      h2{
        margin-bottom: 2rem;
        font-weight: 500;
      }
      span{
        color: $text-secondryColor;
        font-weight: bold;
      }
    }
    .form-group{
      margin-bottom: 1.5rem;
      label{
        color: $text-secondryColor;
      }
    a{
      color: $text-secondryColor;
      font-weight: bold;
    }
  }
}
}

#signin{
    .cover{
      background-image: url(../../../images/signin.jpeg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 0.9375rem;
      color: $text-whiteColor;
      .cover-content{
        margin-top: 22rem;
      }
    }
}

#signup{
  .cover{
    background-image: url(../../../images/signup.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 0.9375rem;
      color: $text-whiteColor;
  }
}

#resetPassword{
  .cover{
    background-image: url(../../../images/ResetPassword.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 0.9375rem;
      color: $text-whiteColor;
      .cover-content{
        margin-top: 35rem;
        margin-left: 4rem;
  }
}

}

