@import "/src/assets/styles/abstracts/variables";

#header{
    .rotate{
        rotate: y 180deg;
    }
    .image{
        width: 85%;
        img{
            border-radius: 100px 15px 15px 15px;
        }
        position: relative;
    }
    .image::after{
        content: "";
        border: 2px solid #E5E5E5;
        border-radius: 100px 15px 15px 15px;
        width: 100%;
        height: 100%;
        position: absolute;
        right: -25px;
        bottom: -25px;
        z-index: -2;
    }
}