@import "/src/assets/styles/abstracts/_variables.scss";

#footer {
  box-shadow: -12px 0rem 1rem 1px rgb(74 74 74 / 10%);
  span {
    color: $text-secondryColor;
    font-weight: 500;
  }
  .pointer {
    cursor: pointer;
  }
}
.navbar {
  span {
    color: $text-blackColorBtn;
  }
}

#feadBack {
  .rotate {
    rotate: y 180deg;
  }

  .image {
    img {
      border-radius: 15px 15px 100px 15px;
    }
    position: relative;
  }
  .image::after {
    content: "";
    border: 2px solid #e5e5e5;
    border-radius: 15px 15px 100px 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -35px;
    top: -35px;
    z-index: -2;
  }
}

#most-picked,
#myFavourite,
#features {
  .card-item {
    color: white !important;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: $transitoon;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.5) 99.91%
      );
      z-index: 20;
    }
    &:hover::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(32, 63, 199, 0.21);
    }
    img {
      opacity: 0.9;
      transition: $transitoon;
      object-fit: cover;

    }
    &:hover img {
      opacity: 1;
      transform: scale(1.1);
    }
    .links {
      display: none;
      opacity: 0.9;
      transition: $transitoon;
      a:hover {
        // color: $text-mainColor;
        opacity: 1;
      }
    }
    &:hover .links {
      position: absolute;
      display: flex;
      z-index: 1000;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 1rem;
      top: 0;
      left: 0;
      justify-content: center;
    }
    & > h5 {
      position: absolute;
      top: 0;
      &.ltr {
        right: 0;
        border-bottom-left-radius: 20px;
      }
      &.rtl {
        left: 0;
        border-bottom-right-radius: 20px;
      }
      padding: 10px 20px 10px 20px;
      background-color: $bg-pinkColor;
      z-index: 20;
      span {
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 170%;
      }
    }
    .caption-item {
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 0;
      &.rtl {
        right: 0;
      }
      padding: 20px;
    }
  }

}

.ant-picker-suffix {
  display: none !important;
}

#explore {
  .card-disc {
    position: absolute;
    top: 0;
    right: 11px;
    padding: 5px 10px 5px 10px;
    background-color: $bg-pinkColor;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 18px;
    color: #fff;
    z-index: 20;
    span {
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 300;
      line-height: 170%;
    }
  }
  img {
    border-radius: 15px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 99.91%
    );
  }
  .caption-item {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    padding: 20px;
    & > h5 {
      color: #fff;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .caption-edit {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
  }
}

#user-pro {
  .back-ground {
    background-color: #ffdee9;
    background-image: linear-gradient(27deg, #ffdee9 0%, #b5fffc 100%);
    max-height: 250px;
    overflow: hidden;
    img {
      opacity: 0.3;
    }

    // background-image: url(../../../images/cover-profile.jpeg);
  }
  .container {
    .user-details {
      margin-top: -8rem;
      position: relative;
      z-index: 20;
      > div {
        img {
          border: 0.5rem solid white;
          width: 17rem;
          height: 17rem;
        }
      }
    }
    .card-profile {
      background-color: $bg-whiteColorTable;
      border-radius: 20px;
      @media (min-width: 999px) {
      &.position-z{
          position: sticky;
          top: 20px;
          z-index: 20;
        }
      }
      p{
        span{
          border-left: 2px solid rgba($text-secondryColor,.7);
        }
      }
      .card{
        border-radius: 20px;
      }

    }
  }
}
