@import "/src/assets/styles/abstracts/_variables.scss";
#footer{

  span{
      color: $text-blackColorBtn;
  }
}
.navbar{
  span{
    color: $text-blackColorBtn;
}
#features{

  .paragh{
    color: $text-secondryColor;

  }
      
}
}
