@import "/src/assets/styles/abstracts/_variables.scss";
#footer {
  span {
    color: $text-blackColorBtn;
  }
}
.navbar {
  span {
    color: $text-blackColorBtn;
  }
}

#feadBack {
  position: relative;

  .feadBack-box {
    width: 356.131px;
    height: 486.75px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #e5e5e5;
    img {
      position: absolute;
      left: 25%;
      top: 50px;
      // width: 50%;
      border-radius: 0 0 20% 0;
      margin-bottom: 20px;
    }
    .icon-box{
      position: absolute;
      left: 30%;
      bottom: 0;
    }
  }
}
