<section id="users">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3">
        <h4 class="mb-0">Users Table Details</h4>
        <p class="text-muted">You can check all details</p>
      </div>

      <table>
        <thead>
          <tr>
            <th class="rounded-start">User Name</th>
            <th>Email</th>
            <th> Phone Number</th>
            <th>Country</th>
            <th>Role</th>
            <th>Verified</th>
            <th class="rounded-end">Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listUses; let isEven = even" [class]="isEven ? '':'bg-table' ">

            <td class="rounded-start">{{item.userName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNumber}}</td>
            <td>{{item.country}}</td>

            <td>{{item.role}}</td>
            <td>{{item.createdAt | date:'dd-MM-yyyy'}}</td>
            <td class="rounded-start">{{item.updatedAt | date:'dd-MM-yyyy'}}</td>

          </tr>
        </tbody>
      </table>


      <div class="p-3">

        <mat-paginator 
          [length]="tableResponse?.totalCount" 
          [pageSizeOptions]="[10, 50, 100]"
          (page)="handlePageEvent($event)" 
          [pageIndex]="pageIndex"
          aria-label="Select page">
        </mat-paginator>
      </div>
      <div>
        
        <mat-paginator [length]="tableResponse?.totalCount" [pageSizeOptions]="[5, 10, 50, 100]"
          (page)="handlePageEvent($event)" [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
      </div>
      <div>

      </div>
    </div>
  </div>

</section>


