<section id="explore" class="my-2">
  <div class="container">
    <h2 class="text-secondryColor text-center pt-3">{{'Explore ALL Rooms' | translate}} </h2>
    <p class="paragraph text-center">
      {{ "Explore Paaragraph" | translate }}
    </p>
    <div class="row g-3">
      <h2 class="text-secondryColor py-3">{{'All Rooms' | translate}}</h2>
      <ng-container *ngFor="let item of roomsData">
          <div class="col-md-4 position-relative">
          <a [routerLink]="['/landingPage/home/rooms/', item._id]">
            <h5 class="card-disc text-whiteColor">{{item.discount | currency: 'USD'}} <span>{{'per night'|translate}}</span></h5>
            <img *ngIf="item.images[0]" [src]="item.images[0]" class="w-100 h-100 " alt="">
            <img *ngIf="!item.images[0]" src="../../../../../../../../assets/images/dummy.jpg" class="w-100 h-100 " alt="">
            <div class="caption-item" [class]="_HelperService.textDir === 'rtl'?'caption-edit':''">
              <h5>{{item.roomNumber}}</h5>
              <h5>{{item.facilities[0].name}}</h5>
            </div>
          </a>
        </div>
      </ng-container>


    </div>
    <div class="p-5 text-center">

         <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="totalCount" [nzPageSize]="pageSize" (click)="declarePageIndex(pageIndex)" [nzShowTotal]="rangeTemplate"></nz-pagination>
        <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
        <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
        </ng-template>

    </div>
  </div>
</section>
