<section id="dash-home">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-md-7 p-3">
        <div class="items-home d-flex flex-column align-items-center">
          <h3 class="text-center">Progress</h3>
          <div>
            <canvas id="canvas">{{ chart }}</canvas>
          </div>
        </div>
        <div class="items-home mt-3 sticky">
          <div class="header-auth mb-0">
            <h2 class="mb-0 text-nowrap">
              Welcome back <span class="text-mainColor">{{ userName }}</span>👋🏻
            </h2>
            <p>see whats new</p>
          </div>
          <div class="">
            <nz-alert nzMessage="Your selected date: {{
                selectedValue | date : 'dd-MM-yyyy'
              }}"></nz-alert>

            <nz-calendar [nzFullscreen]="false" [(ngModel)]="selectedValue"
              (nzSelectChange)="selectChange($event)"></nz-calendar>
          </div>
        </div>

        <div class="items-home row mt-3">
          <ng-container>
            <!-- <div class="col-md-4 my-3" [routerLink]="item.link">
              <div class="card-home">
                <h3>
                  <i [class]="'fa-solid text-mainColor' + ' ' + item.icon"></i>
                </h3>
                <div
                  class="d-flex flex-column justify-content-between align-items-center"
                >
                  <h5 class="mb-0">{{ item.length }}</h5>
                  <p>{{ item.title }}</p>
                </div>
              </div>
            </div> -->
          </ng-container>
        </div>

      </div>
      <div class="col-md-4 p-3 items-home mt-3">
        <div class="header-auth logo mb-0">
          <h4 class="mb-0 text-nowrap">What's happened?</h4>
          <p>see whats new</p>
        </div>
        <div class="card py-3 px-5">
          <nz-timeline nzColor="green" [nzPending]="'More...'" [nzReverse]="reverse">
            <nz-timeline-item nzColor="green">Your Time line on
              <span class="text-mainColor">{{
                selectedValue | date : "dd-MM-yyyy"
                }}</span>
            </nz-timeline-item>
            <nz-timeline-item>
              <p class="text-mainColor">what created?</p>
              <ng-container *ngIf="showMore">
                <ng-container *ngFor="let created of createdDate; let i = index">

                  <p *ngIf="
                      created.createdDate.getDate() == selectedValue.getDate()
                    ">
                    {{ created.name }} {{ created.module }} created
                  </p>
                </ng-container>
              </ng-container>

              <a (click)="showMore = !showMore" class="text-mainColor">
                {{ showMore ? "-" : "+" }} show
                {{ showMore ? "less" : "more" }}</a>
            </nz-timeline-item>
            <nz-timeline-item nzColor="gray">
              <p class="text-mainColor">what Updated?</p>
              <ng-container *ngIf="showMore2">
                <ng-container *ngFor="let updated of updatedDate; let i = index">

                  <p *ngIf="
                      updated.updatedDate.getDate() == selectedValue.getDate()
                    ">
                    {{ updated.name }} {{ updated.module }} updated
                  </p>
                </ng-container>
              </ng-container>
              <a (click)="showMore2 = !showMore2" class="text-mainColor">
                {{ showMore2 ? "-" : "+" }} show
                {{ showMore2 ? "less" : "more" }}</a>
            </nz-timeline-item>
            <nz-timeline-item>
              <p class="text-mainColor">what booking started?</p>
              <ng-container *ngFor="let startBook of startedBokkingDate; let i = index">

                <p *ngIf="
                    startBook.startedDate.getDate() == selectedValue.getDate()
                  ">
                  {{ startBook.name }} {{ startBook.module }} started
                </p>
              </ng-container>
            </nz-timeline-item>
            <nz-timeline-item nzColor="red">
              <p class="text-mainColor">what booking ended?</p>
              <ng-container *ngFor="let endedBook of endedBookingData; let i = index">

                <p *ngIf="
                    endedBook.endedDate.getDate() == selectedValue.getDate()
                  ">
                  {{ endedBook.name }} {{ endedBook.module }} ended
                </p>
              </ng-container>
            </nz-timeline-item>
          </nz-timeline>
        </div>
      </div>
    </div>
  </div>
</section>
