<section id="feadBack" class="my-3">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-5" [class]="_HelperService.textDir === 'ltr'?'ms-auto':'me-auto'">
                <div class="image w-75 m-auto" [class]="_HelperService.textDir === 'rtl'?'rotate':''">
                    <img src="../../../../../../../../assets/images/image 3.png" class="w-100" alt="">
                    <div class="my-3 d-flex justify-content-center" >
                        <i class="fa-regular fa-circle-left fa-3x" style="color: #203FC7;"
                            [class]="_HelperService.textDir === 'rtl'?'rotate':''"></i>
                        <i class="fa-regular fa-circle-right fa-3x mx-5 " style="color: #203FC7;"
                            [class]="_HelperService.textDir === 'rtl'?'rotate':''"></i>
                    </div>

                </div>
            </div>

            <div class="col-md-5" [class]="_HelperService.textDir === 'ltr'?'me-auto':'ms-auto'">
                <h2 class="my-5">{{'feadback.feadback' | translate}}</h2>
                <i class="fa-solid fa-star fa-2x mx-1" style="color: #FFCC47;"></i>
                <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                <h5 class="my-2">{{'feadback.feadbackContent' | translate}}</h5>
                <p class="mb-5 text-muted">{{'feadback.feadbackParagraph' | translate}}</p>
                <button class="btn primary w-50 p-2">{{'feadback.feadbackButton' | translate}}</button>
            </div>

        </div>
    </div>

</section>