<section id="feadBack" class="my-3">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-5">
                <img src="../../../../../../../../assets/images/image 3.png" class="w-75" alt="">
                <div class="ms-5 my-3">
                    <i class="fa-regular fa-circle-left fa-3x" style="color: #203FC7;"></i>
                    <i class="fa-regular fa-circle-right fa-3x mx-5 " style="color: #203FC7;"></i>
                </div>
            </div>

            <div class="col-md-5">
                <h2 class="my-5">Happy Family</h2>
                <i class="fa-solid fa-star fa-2x mx-1" style="color: #FFCC47;"></i>
                <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                <h5 class="my-2">What a great trip with my family and <br>
                    I should try again next time soon ...</h5>
                <p class="mb-5 text-muted">Angga, Product Designer</p>
                <button class="btn primary w-50 p-2">Read Their Story</button>
            </div>

        </div>
    </div>

</section>