<!-- <section>
    <div class="container">
      <form [formGroup]="adForm">
        <div class="row py-5">
            <div class="col-md-12 mt-3">
                <div class="input-group mb-3"> 
                  <input [(ngModel)]="data.room.roomNumber"  type="text" formControlName="roomNumber" placeholder="roomNumber" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input [(ngModel)]="data.isActive" formControlName="isActive" type="text" placeholder="isActive" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input [(ngModel)]="data.createdBy.userName" formControlName="createdBy" type="text" placeholder="createdBy" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input [(ngModel)]="data.createdAt" formControlName="createdAt" type="text" placeholder="createdAt" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input [(ngModel)]="data.updatedAt" formControlName="updatedAt" type="text" placeholder="updatedAt" class="form-control rounded">
                </div>
              </div>
              <div class="text-center me-auto">
                <button  (click)="onNoClick()" type="button" class="primary w-25">Cancel</button>
              </div>
        </div>
      </form>
    </div>
</section> -->

<section class="container-fluid shadow py-5 mt-3">
  <div class="row">
      <div class="card-auth">
          <div class="inputs-auth col-10 mx-auto">
              <form [formGroup]="viewForm">
                  <div class="form-group">
                      <input [(ngModel)]="data.room.roomNumber"    type="text" formControlName="roomNumber" class="form-control" id="roomNumber" placeholder="Room Number">
                      
                  </div>
                      <div class="form-group ">
                          <input type="text" [(ngModel)]="data.isActive" formControlName="isActive" class="form-control" id="price" placeholder="Price">
                        
                      </div>
                      <div class="form-group">
                          <input type="text"  [(ngModel)]="data.createdBy.userName" formControlName="createdBy" class="form-control"  placeholder="capacity">
                     
                      </div>
                      <div class="form-group">
                        <input type="text" [(ngModel)]="data.createdAt" formControlName="createdAt" class="form-control" id="discount" placeholder="Discount">
                       
                   
                </div>
                      <div class="form-group">
                          <input type="text" [(ngModel)]="data.updatedAt" formControlName="updatedAt" class="form-control" id="discount" placeholder="Discount">
                         
                     
                  </div>
                 
                  <div class="d-flex justify-content-end align-items-end mt-5">
                      <button (click)="onNoClick()" type="button" routerLink="/dashboard/ads" class="btn outline-primary">Cancle</button>
                  </div>
              </form>
          </div>
      </div> 
  </div>
</section>
  
<!-- 
<section class="p-3">
  <div class="container">
    <h4 class="d-flex align-items-center justify-content-between p-2">
      <span> View Ad</span>
      <span (click)="onNoClick()">
        <i class="pointer fa-regular fa-circle-xmark text-danger fa-1x position-absolute top-0 right-0 my-4 me-5"></i></span>
    </h4>
    <div class="row py-5">
      <div class="col-md-12 mt-3">
        <div class="input-group mb-3">
          <input type="text" placeholder="roomNumber" class="form-control rounded">
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="input-group mb-3">
          <input type="text" placeholder="isActive" class="form-control rounded">
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="input-group mb-3">
          <input type="text" placeholder="userName" class="form-control rounded">
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="input-group mb-3">
          <input type="text" placeholder="createdAt" class="form-control rounded">
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <div class="input-group mb-3">
          <input type="text" placeholder="updatedAt" class="form-control rounded">
        </div>
      </div>
      <div class="text-center me-auto">
        <button (click)="onNoClick()" type="button" class="primary w-25">Cancel</button>
      </div>
    </div>

  </div>
</section> -->
