<section>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-12 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="roomNumber" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="isActive" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="userName" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="createdAt" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="updatedAt" class="form-control rounded">
                </div>
              </div>
              <div class="text-center me-auto">
                <button  type="button" class="primary w-25">Cancel</button>
              </div>
        </div>
     
    </div>
</section>