<section id="signup">
    <div class="container">
        <div class="row">
            <!-- <h2>Staycation.</h2> -->
            <div class="col-md-6 p-5">
                <h2>Sign up</h2>
                <p>If you already have an account register</p>
                <p>You can <span> Login here !</span></p>
            </div>
            <div class="col-md-6">
                    <img class="w-100 vh-100 py-3" src="../../../../../assets/images/signup.png" alt="">
            </div>
        </div>
    </div>
</section>
