<section id="room-details" class="mt-3">
    <div class="container">
        <div class="header text-center">
                <h2 class="fw-bolder text-secondryColor">Village Angga</h2>
                <p class="paragraph">Bogor, Indonesia</p>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a
                        routerLink="/landingPage/home"
                        >Home</a
                      >
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Room
                    </li>
                  </ol>
                </nav>
            </div>
        <div class="row">
            <div class="col-md-6" *ngFor="let image of roomImages">
                <img *ngIf="roomImages==null" src="../../../../../../../../assets/images/dummy.jpg" class="w-100 mb-2 d-block rounded-4"/>
                <img  [src]="image" class="w-100 mb-2 d-block rounded-4" alt="">
            </div>
            
        </div>
    </div>
</section>
<section id="about" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4 class="text-secondryColor fw-bolder">{{'About'|translate}} <span class="text-mainColor"> {{roomDetails?.roomNumber}}</span></h4>
                <p class="paragraph">Minimal techno is a minimalist subgenre of techno music. It is characterized by a stripped-down aesthetic that exploits the use of repetition and understated development. Minimal techno is thought to have been originally developed in the early 1990s by Detroit-based producers Robert Hood and Daniel Bell.
                    <br>Such trends saw the demise of the soul-infused techno that typified the original Detroit sound. Robert Hood has noted that he and Daniel Bell both realized something was missing from techno in the post-rave era.
                    <br>Design is a plan or specification for the construction of an object or system or for the implementation of an activity or process, or the result of that plan or specification in the form of a prototype, product or process. The national agency for design: enabling Singapore to use design for economic growth and to make lives better.
                </p>
                <h4 class="text-secondryColor mb-3">{{'Facilities'|translate}}:<span class="text-mainColor"></span></h4>

                <div class="icons row">
                  <ng-container *ngFor="let facility of roomFacilities">

                    <div class="col-3">
                        <img src="../../../../../../../../assets/images/facility.png" class="w-25">
                        <P><span class="fw-bold"></span><span class="paragraph">{{facility.name}}</span></P>
                    </div>

                  </ng-container>

                </div>

            </div>
            <div class="col-md-5">
                <div class="booking-section w-75 p-5 mx-auto border rounded">
                    <h4 class="text-secondryColor fw-bolder ">{{'header.Start Booking'|translate}}</h4>
                    <p class="fs-2 paragraph mb-2"><span class="greenColor">{{roomDetails?.price}}$ </span>{{'per night'|translate}}</p>
                    <p class="text-redColor">Discount {{roomDetails?.discount}}% Off </p>
                    <form [formGroup]="bookingForm" (ngSubmit)="bookingRoom(bookingForm)">
                        <div class="form-group mb-3">
                            <label for="date" class="h6 text-secondryColor">{{'header.pick a date'|translate}}</label>
                            <div class="input-group flex-nowrap">
                                <span class="input-group-text bg-main"  [class]="_HelperService.textDir === 'rtl'?'rotate':''">
                                    <i class="fa-solid fa-calendar-days text-white"></i>
                                </span>
                                  <nz-date-picker
                                  [nzDisabledDate]="disabledStartDate"
                                  formControlName="startDate"
                                  nzShowTime
                                  nzFormat="yyyy-MM-dd"
                                  [(ngModel)]="startValue"
                                  nzPlaceHolder="Start"
                                  (nzOnOpenChange)="handleStartOpenChange($event)"
                                ></nz-date-picker>
                                <nz-date-picker
                                  #endDatePicker
                                  formControlName="endDate"
                                  [nzDisabledDate]="disabledEndDate"
                                  nzShowTime
                                  nzFormat="yyyy-MM-dd"
                                  [(ngModel)]="endValue"
                                  nzPlaceHolder="End"
                                  (nzOnOpenChange)="handleEndOpenChange($event)"
                                ></nz-date-picker>
                                </div>
                            <!-- just for explain code -->

                            <p><span class="text-danger">{{priceRoom}} </span> price room for one day</p>
                            <p><span class="text-danger">{{dateRange.length}} </span> booking Days
                              <ul>
                                <li *ngFor="let item of dateRange"> {{item | date :'yyyy-MM-dd'}}</li>
                              </ul>
                            <p> <span class="text-danger" > {{totalPrice}} </span>total price for booking</p>

                        </div>
                        <button (click)="bookingRoom" class="btn primary w-100 mt-3">{{'header.Continue to Book'|translate}}</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="treasure">
    <div class="container">
        <div class="row my-5">
            <h4 class="text-secondryColor fw-bolder ">Treasure to Choose</h4>
            <div class="col-3">
                <div >
                    <img src="../../../../../../../../assets/images/treasure-1.png" class="w-100" alt="">
                    <h5 class="text-secondryColor mb-0 mt-2">Green Lake</h5>
                    <p class="paragraph">Nature</p>
                </div>
            </div>
            <div class="col-3">
                <div>
                    <img src="../../../../../../../../assets/images/treasure-2.png" class="w-100" alt="">
                    <h5 class="text-secondryColor mb-0 mt-2">Green Lake</h5>
                    <p class="paragraph">Nature</p>
                </div>

            </div>
            <div class="col-3">
                <div>
                    <img src="../../../../../../../../assets/images/treasure-3.png" class="w-100" alt="">
                    <h5 class="text-secondryColor mb-0 mt-2">Green Lake</h5>
                    <p class="paragraph">Nature</p>
                </div>

            </div>
            <div class="col-3">
                <div>
                    <img src="../../../../../../../../assets/images/treasure-4.png" class="w-100" alt="">
                    <h5 class="text-secondryColor mb-0 mt-2">Green Lake</h5>
                    <p class="paragraph">Nature</p>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="feadBack" class="my-4">
    <div class="container">
        <div class="row">


            <div class="col-md-6" [class]="_HelperService.textDir === 'ltr'?'me-auto':'ms-auto'">
                <div class="me-5">
                    <h2 class="my-3">{{'Rate' | translate}}</h2>
                    <i class="fa-solid fa-star fa-2x mx-1" style="color: #FFCC47;"></i>
                    <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                    <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                    <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                    <i class="fa-solid fa-star fa-2x  mx-1" style="color: #FFCC47;"></i>
                    <h5 class="my-2">{{'Message' | translate}}</h5>
                    <textarea class="w-100 rounded" name="" id="" rows="4"></textarea>
                    <button class="btn primary w-50 p-2">Rate</button>
                </div>

            </div>
            <div class="col-md-6" [class]="_HelperService.textDir === 'ltr'?'ms-auto':'me-auto'">
                <div class="ms-5">
                    <form [formGroup]="AddComment" (ngSubmit)="Addcomment(AddComment)" >
                        <h2  class="my-5">{{'Add your comment' | translate}}</h2>
                        <textarea placeholder="reason"   formControlName="reason" class="w-100 rounded" name="" id="" rows="4"></textarea>
                        <button type="submit"  class="btn primary w-50 p-2">Send</button>

                    </form>
                </div>

            </div>

        </div>
    </div>
</section>
