<section id="navbar">
    <div class="container">
      <div class="row">
        <div
          class="col-4  d-flex justify-content-end align-items-center ms-auto" >
          <div class="d-flex align-items-center ">
            <a class="user-avater bg-profile">
              <img class=""
              *ngIf="userData?.profileImage"
              [src]="'https://upskilling-egypt.com/'+userData?.profileImage" />
              <img *ngIf="userData?.profileImage==null"
              src="../../../assets/images/profile.png"
              />
            </a>
            <div class="d-flex">
              <span>
                <span class="h5 ms-3">{{userName}}</span>
                <!-- <span class="text-muted d-block">group name</span> -->
              </span>
              <div class="dropdown mx-2">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                ></a>
                <ul class="dropdown-menu mt-4">
                  <li><a class="dropdown-item pointer" [routerLink]="['/dashboard/users/view/',currentUserId]">
                    <span><i class="fa-solid fa-user me-2"></i></span> Profile
                  </a></li>
                  <li><a class="dropdown-item pointer" (click)="openDialogCahngePassword()">
                    <span><i class="fa-solid fa-lock me-2"></i></span> Change Password
                  </a></li>
                  <li><a class="dropdown-item pointer" (click)="openDialogLogOut()">
                    <span><i class="fa-solid fa-right-from-bracket me-2"></i></span> Log Out
                  </a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
