<section class="py-5">
    <div class="container">
        <div class="row d-flex justify content space between">
           
            <div class="col-6">
                <h2>Forgot password</h2>
                <p>If you already have an account register</p>
                <h6>You can   <span>Login here !</span></h6>
                <h3>Email </h3>
                <input  type="text" placeholder="Please type here ..." class="form-control">
                <button class="btn my-5 w-100">Send mail</button>
            </div>
            <div class="col-6">
                <img src="../../../../../assets/images/Forget.png" >
            </div>
        </div>
    </div>
</section>