<section id="forget">
    <div class="container">
        <div class=" row d-flex   p-5">
           
            <div class="col-md-6">
                <div class="logo p-3">
                    Stay<span>cation.</span>
                  </div>
                <div class="header-auth">
                <h2>Forgot password</h2>
                <p>If you already have an account register</p>
                <p>You can   <span class="text-danger">Login here !</span></p>
            </div>
            <div class="inputs-auth">
                <form>
                    <div class="form-group mb-3">
                        <label  for="exampleInputEmail1" class="text-secondryColor ">Email address</label>
                        <input    type="text" placeholder="Please type here ..." class="form-control my-3">

                      </div>
                      <button  class=" primary w-100">Send mail</button>

                </form>
            </div>
            </div>
            <div class="img col-md-6">
                <img src="../../../../../assets/images/Forget.png" class="w-75" alt="" >
            </div>
        </div>
    </div>
</section>