<!-- <section id="forget">
    <div class="container">
        <div class=" row d-flex   p-5">
           
            <div class="col-md-6">
                <div class="logo p-3">
                    Stay<span>cation.</span>
                  </div>
                <div class="header-auth">
                <h2>Forgot password</h2>
                <p>If you already have an account register</p>
                <p>You can   <span class="text-danger">Login here !</span></p>
            </div>
            <div class="inputs-auth">
                <form>
                    <div class="form-group mb-3">
                        <label  for="exampleInputEmail1" class="text-secondryColor ">Email address</label>
                        <input    type="text" placeholder="Please type here ..." class="form-control my-3">

                      </div>
                      <button  class=" primary w-100">Send mail</button>

                </form>
            </div>
            </div>
            <div class="img col-md-6">
                <img src="../../../../../assets/images/Forget.png" class="w-75" alt="" >
            </div>
        </div>
    </div>
</section> -->

<section id="forget" class="auth">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="logo p-3">
              Stay<span>cation.</span>
            </div>
            <div class="card-auth">
              <div class="header-auth  px-md-5 pt-5">
                <h2 class="">Forgot password</h2>
                <p class="mb-0">If you don’t have an account register</p>
                <p>You can <a class="text-danger text-decoration-none">Login here ! </a></p>
              </div>
              <div class="inputs-auth px-md-5 pb-5">
                  <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="text-secondryColor">Email address</label>
                    <input [(ngModel)]="email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please type here">
                   
                  </div>
                 
           
                <button (click)="forgetPassword(email)" type="submit" class="primary w-100">Send mail </button>
              
                  </div>
              </div>
            </div>
            
          <div class="col-md-6 cover d-none d-md-flex flex-column justify-content-end col-md-6 p-5">
           
              
          </div>
        </div> 
        </div>
  </section>


