<section class="container shadow py-5 mt-3">
    <div class="row">
        <h3 *ngIf="!isEditMode && !isViewMode" class="mb-2">Add New Room</h3>
        <h3 *ngIf="isEditMode" class="mb-2">Edit <span class="text-mainColor">{{roomData.roomNumber}}</span> Room</h3>
        <div class="card-auth">
            <div class="inputs-auth">
                <form [formGroup]="roomForm" (ngSubmit)="onSubmit(roomForm)">
                    <div class="form-group">
                        <input type="text" formControlName="roomNumber" class="form-control" id="roomNumber" placeholder="Room Number">
                        <span class="text-danger  mb-3" *ngIf="roomForm.get('roomNumber')?.errors &&
                            roomForm.get('roomNumber')?.touched">
                            <span *ngIf="roomForm.get('roomNumber')?.getError('required')">roomNumber is required</span>
                        </span>
                    </div>
                    <div class="d-flex">
                        <div class="form-group w-50 me-3">
                            <input type="text" formControlName="price" class="form-control" id="price" placeholder="Price">
                            <span class="text-danger  mb-3" *ngIf="roomForm.get('price')?.errors &&
                                roomForm.get('price')?.touched">
                                <span *ngIf="roomForm.get('price')?.getError('required')">price is required</span>
                            </span>
                        </div>
                        <div class="form-group w-50">
                            <input type="text" formControlName="capacity" class="form-control" id="capacity" placeholder="capacity">
                            <span class="text-danger  mb-3" *ngIf="roomForm.get('capacity')?.errors &&
                                roomForm.get('capacity')?.touched">
                                <span *ngIf="roomForm.get('capacity')?.getError('required')">capacity is required</span>
                            </span>
                        </div>
                        </div>
                        <div class="d-flex">
                        <div class="form-group w-50 me-3">
                            <input type="text" formControlName="discount" class="form-control" id="discount" placeholder="Discount">
                            <span *ngIf="roomForm.get('discount')?.errors && roomForm.get('discount')?.touched "
                                class="text-danger  mb-3">
                                <span *ngIf="roomForm.get('discount')?.errors?.['required']" class="mb-0">discount is
                                required</span>
                            </span>
                        </div>
                        <div class="form-group w-50">
                            <mat-form-field class="w-100">
                                <mat-label>Facilities</mat-label>
                                <mat-select formControlName="facilities" multiple>
                                    <mat-option *ngFor="let item of facilities" [value]="item._id">{{item.name}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            <span class="text-danger  mb-3" 
                            *ngIf="roomForm.get('facilities')?.errors && roomForm.get('facilities')?.touched">
                                <span *ngIf="roomForm.get('facilities')?.getError('required')">facilities is required</span>
                            </span>
                        </div>
                    </div>
                    <div>
                        <ngx-dropzone [disabled]="isViewMode" class="mb-3 dropzone" (change)="onSelect($event)" [multiple]="true">
                          <ngx-dropzone-label *ngIf="!imgSrc">
                              <i class="fa-solid fa-arrow-up-from-bracket d-block fs-2 pb-3"></i>
                                Drag & Drop or <span class="text-mainColor">Choose a Item Image</span> to Upload
                          </ngx-dropzone-label>
                          <ngx-dropzone-label *ngIf="imgSrc">
                            <img [src]="imgSrc" class="w-50" alt="">
                          </ngx-dropzone-label>
                          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                               [removable]="true" (removed)="onRemove(f)">
                          </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                      </div>
                    <div class="d-flex justify-content-end align-items-end mt-5">
                        <button type="button" routerLink="/dashboard/rooms" class="btn outline-primary">Cancle</button>
                        <button class="mx-4 btn primary" [ngClass]="{'d-none': isViewMode}" [disabled]="roomForm.invalid">Save</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</section>
    

