<section>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-12 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="Room Number" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="price" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="capacity" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="Discount" class="form-control rounded">
                </div>
              </div>
              <div class="col-md-6 mt-3">
                <div class="input-group mb-3">
                  <input type="text" placeholder="facilities" class="form-control rounded">
                </div>
              </div>
              <div class="text-center">
                <button  type="button" class="primary w-25">Cancel</button>
              </div>
        </div>
     
    </div>
</section>