<section id="change-password" class="p-4">
  <div class="container-fluid">
    <div class="card-auth">
      <div class="d-flex justify-content-between gap-5">
        <div class="header-auth logo mb-0">
          <h2 class="mb-0 text-nowrap">Change Password</h2>
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div >
          <span (click)="onNoClick()"><i class="pointer fa-regular fa-circle-xmark text-danger fa-2x position-absolute top-0 right-0 my-4" ></i></span>
         </div>
      </div>
      <div class="inputs-auth">
        <form [formGroup]="changeForm">
          <div class="form-group mb-3">
            <div class="pass position-relative">
              <label for="exampleInputPassword1" class="text-secondryColor"
                >Old Password</label
              >
              <input
                formControlName="oldPassword"
                [type]="hide ? 'password' : 'text'"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Enter Your old password"
              />
              <span (click)="hide = !hide" class="eye-icon pointer"
                ><i
                  class="fa-solid pointer"
                  [class]="hide ? 'fa-eye-slash' : 'fa-eye'"
                ></i
              ></span>
            </div>
            <span *ngIf="changeForm.get('oldPassword')?.errors &&
            changeForm.get('oldPassword')?.touched " class="text-danger mb-3">
            <span *ngIf="changeForm.get('oldPassword')?.errors?.['required']">
            password is required
            </span>
            <span *ngIf="changeForm.get('oldPassword')?.errors?.['pattern']">
            Password must have capital,small letters,sympols,number and pass length(8-16)
            </span>
        </span>
          </div>
          <div class="form-group mb-3">
            <div class="pass position-relative">
              <label for="exampleInputPassword1" class="text-secondryColor"
                >New Password</label
              >
              <input
                formControlName="newPassword"
                [type]="hide ? 'password' : 'text'"
                class="form-control"
                id="exampleInputPassword2"
                placeholder="Enter Your new password"
              />
              <span (click)="hide = !hide" class="eye-icon pointer"
                ><i
                  class="fa-solid pointer"
                  [class]="hide ? 'fa-eye-slash' : 'fa-eye'"
                ></i
              ></span>
            </div>
            <span *ngIf="changeForm.get('newPassword')?.errors &&
            changeForm.get('newPassword')?.touched " class="text-danger mb-3">
            <span *ngIf="changeForm.get('newPassword')?.errors?.['required']">
            password is required
            </span>
            <span *ngIf="changeForm.get('newPassword')?.errors?.['pattern']">
            Password must have capital,small letters,sympols,number and pass length(8-16)
            </span>
        </span>
          </div>
          <div class="form-group mb-3">
            <div class="pass position-relative">
              <label for="exampleInputPassword1" class="text-secondryColor"
                >Confirm Password</label
              >
              <input
                formControlName="confirmPassword"
                [type]="hide ? 'password' : 'text'"
                class="form-control"
                id="exampleInputPassword3"
                placeholder="Confirm Your new password"
              />
              <span (click)="hide = !hide" class="eye-icon pointer"
                ><i
                  class="fa-solid pointer"
                  [class]="hide ? 'fa-eye-slash' : 'fa-eye'"
                ></i
              ></span>
            </div>
            <span class="text-danger mb-3" *ngIf="changeForm.get('confirmPassword')?.errors &&
            changeForm.get('confirmPassword')?.touched ">
            <span *ngIf="changeForm.get('confirmPassword')?.errors?.['required']">
            confirmPassword is required
            </span>
            <span *ngIf="changeForm.get('confirmPassword')?.errors?.['pattern']">
            confirmPassword must have capital,small letters,sympols,number and pass length(8-16)
            </span>
            <span *ngIf="changeForm.get('confirmPassword')?.errors?.['invalid']">
            password and confirm password not match
            </span>
        </span>
          </div>
          <button
            type="submit"
            class="primary w-100 my-3 "
            [mat-dialog-close]="data"
          >
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
