<section id="signin" class="auth">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="logo p-3">
            Stay<span>cation.</span>
          </div>
          <div class="card-auth">
            <div class="header-auth">
              <h2>Sign in</h2>
              <p class="mb-0">If you don’t have an account register</p>
              <p>You can <a class="text-danger text-decoration-none" routerLink="/auth/signup">Register here ! </a></p>
            </div>
            <div class="inputs-auth">
              <form [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm)">
                <div class="form-group mb-3">
                  <label for="exampleInputEmail1" class="text-secondryColor">Email address</label>
                  <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-danger" *ngIf="signinForm.controls.email.errors && signinForm.controls.email.touched">
                    <p *ngIf="signinForm.get('email')?.getError('required')" class="mb-0">Email Is Required</p>
                    <p *ngIf="signinForm.get('email')?.getError('email')" class="mb-0">Email Is Invalid</p>
                  </small>
                </div>
                <div class="form-group mb-3">
                  <label for="exampleInputPassword1" class="text-secondryColor">Password</label>
                  <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  <small id="emailHelp" class="form-text text-danger"  *ngIf="signinForm.controls.password.errors && signinForm.controls.password.touched">
                    <p *ngIf="signinForm.get('password')?.getError('required')" class="mb-0">Password Is Required</p>
                    <p *ngIf="signinForm.get('password')?.getError('pattern')" class="mb-0">Please must have A,a ,@,%,$,#,
                      From 8 , 16</p>
                  </small>

              </div>
              <div class="mb-3 text-end text-lightGrey">
                <a  routerLink='/auth/forgot-password' class="text-decoration-none text-muted"> forget password ?</a>
              </div>
              <button type="submit" class="primary w-100 mt-5">Sign in</button>
            </form>
                </div>
            </div>
          </div>
          
        <div class="col-md-6 cover d-none d-md-flex flex-column justify-content-end p-5">
          <div class="caption">
            <h3>Sign in to Roamhome</h3>
            <p>Homes as unique as you.</p>
          </div>
            
        </div>
      </div> 
      </div>
</section>