<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="header shadow-sm p-2 my-2">
                    <h2>Profile</h2>
                    <p>Manage your account</p>
                </div>
                <div class="col-3">
                    <img src="../../../assets/images/profile.png" class="w-100 rounded-circle shadow-sm">
                </div>
                
            </div>
        </div>
    </div>
</section>