<section class="card-auth">
    <div class="">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h2>Reset Password</h2>
                <p>If you already have an account register <br> You can <a
                        class="text-red text-decoration-none pointer"> Login here !</a></p>
                <form class="mt-5">
                    <div class="my-2">
                        <label for="">Email</label>
                        <input type="email" placeholder="Enter Your Email..." class="form-control w-75">
                    </div>
                    <div class="my-2">
                        <label for="">OTP</label>
                        <input type="text" placeholder="OTP..." class="form-control w-75">
                    </div>
                    <div class="my-2">
                        <label for="">Password</label>
                        <input type="password" placeholder="Enter Password..." class="form-control w-75">
                    </div>
                    <div class="my-2">
                        <label for="">Confirm Password</label>
                        <input type="password" placeholder="Confirm Password..." class="form-control w-75">
                    </div>
                    <button class="btn btnBlue w-75 mt-3">Reset</button>
                </form>
            </div>
            <div class="col-md-6 mt-3">
                <img src="../../../../../assets/images/ResetPassword.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>