<section id="room">
  <div class="container">
    <div class="row">
        <div class="my-2">
          <h4 class="mb-0">Booking Table Details</h4>
          <p class="text-muted">You can check all details</p>
        </div>

        <table>
          <thead>
            <tr>
              <th class="rounded-start">Room Number</th>
              <th>Price</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>User</th>
              <th class="rounded-end">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listBookings">
              <td>{{item.room?.roomNumber || "---"}}</td>
              <td>{{item.totalPrice|currency:'L.E'}}</td>
              <td>{{item.startDate|date:'dd-MM-yyyy'}}</td>
              <td>{{item.endDate|date:'dd-MM-yyyy'}}</td>
              <td>{{item.user?.userName || "---"}}</td>
              <td class="nav-item dropdown rounded-end">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fa-solid fa-ellipsis" style="color: #1f5141;"></i>
                </a>
                <ul class="dropdown-menu">
                  <li class="d-flex flex-column align-items-center">
              <li>
                <a (click)="openViewDialog(item)"
                  class="dropdown-item pointer"><i
                    class="fa-regular fa-eye mx-2 bg-icon"></i>View</a>
              </li>
              <li>
                <a (click)="openDeleteDialog(item)" class="dropdown-item pointer"><i
                    class="fa-solid fa-trash-can mx-2 bg-icon"></i>Delete</a>
                </li>
      </ul>
      </td>
            </tr>
          </tbody>
      </table>
      <div class="p-3 w-50 m-auto mt-3">
        <mat-paginator [length]="tableResponse?.totalCount"
              [pageSizeOptions]="[5,10, 50, 100]"
              (page)="handlePageEvent($event)" [pageIndex]="pageIndex"
              aria-label="Select page">
          </mat-paginator>
      </div>
    </div>

  </div>
</section>
