<div class="card-auth py-5">
    <h4 class="d-flex align-items-center justify-content-between mb-5">
        <span *ngIf="!data.facilitiesName">Add Facility</span>
        <span *ngIf="data.facilitiesName">Edit Facility</span>
        <span (click)="onNoClick()"><i class="pointer fa-regular fa-circle-xmark text-danger fa-1x position-absolute top-0 right-0 my-4" style="color: #f00a0a;"></i></span>
    </h4>

    <div class="input-group mb-3">
        <input [(ngModel)]="data.facilitiesName" type="text" class="form-control" placeholder="Facilities Name"
            aria-label="name" aria-describedby="basic-addon1">
    </div>

    <button [mat-dialog-close]="data.facilitiesName" cdkFocusInitial class="primary  w-100">Save</button>

</div>