<section id="most-picked" class="py-5">
  <div class="container">
    <h5 class="mb-3">Most Picked</h5>
    <div class="row" >
        <div class="col-md-4 gap-4">
          <div class="card-item">
            <h5>{{roomsData[0].discount}} <span> per night</span></h5>
            <div class="links">
              <a [routerLink]="['/landingPage/home/roomsData[0]s/', roomsData[0]._id]"><i class="fa-regular fa-2x fa-heart"></i></a>
              <a><i class="fa-regular fa-2x fa-eye"></i></a>
            </div>
            <img
              [src]="roomsData[0].images[0]"
              alt="most picked"
              class="img-fluid h-100 w-100"
            />
            <div class="caption-item">
              <h5>{{ roomsData[0].roomsNumber }}</h5>
              <p>{{ roomsData[0].price }}</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column gap-4 col-md-4">
          <div class="h-100 card-item">
            <h5>{{ roomsData[1].discount }}<span> per night</span></h5>
            <div class="links">
              <a [routerLink]="['/landingPage/home/roomsData[0]s/', roomsData[1]._id]"><i class="fa-regular fa-2x fa-heart"></i></a>
              <a><i class="fa-regular fa-2x fa-eye"></i></a>
            </div>
            <img
              [src]="roomsData[1].images[0]"
              alt="most picked"
              class="img-fluid h-100 w-100"
            />
            <div class="caption-item">
              <h5>{{ roomsData[1].roomNumber }}</h5>
              <p>{{ roomsData[1].price }}</p>
            </div>
          </div>
          <div class="h-100 card-item">
            <h5>{{ roomsData[2].discount }}<span> per night</span></h5>
            <div class="links">
              <a [routerLink]="['/landingPage/home/roomsData[0]s/', roomsData[2]._id]"><i class="fa-regular fa-2x fa-heart"></i></a>
              <a><i class="fa-regular fa-2x fa-eye"></i></a>
            </div>
            <img
            [src]="roomsData[2].images[0]"
            alt="most picked"
              class="img-fluid h-100"
            />
            <div class="caption-item">
              <h5>{{ roomsData[2].roomNumber }}</h5>
              <p>{{ roomsData[2].price }}</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column gap-4 col-md-4">
          <div class="h-100 card-item">
            <h5>{{ roomsData[3].discount }}<span> per night</span></h5>
            <div class="links">
              <a [routerLink]="['/landingPage/home/roomsData[0]s/', roomsData[3]._id]"><i class="fa-regular fa-2x fa-heart"></i></a>
              <a><i class="fa-regular fa-2x fa-eye"></i></a>
            </div>
            <img
            [src]="roomsData[3].images[0]"
            alt="most picked"
              class="img-fluid h-100"
            />
            <div class="caption-item">
              <h5>{{ roomsData[3].roomNumber }}</h5>
              <p>{{ roomsData[3].price }}</p>
            </div>
          </div>
          <div class="h-100 card-item">
            <h5>{{roomsData[4].discount }}<span> per night</span></h5>
            <div class="links">
              <a [routerLink]="['/landingPage/home/roomsData[0]s/', roomsData[4]._id]"><i class="fa-regular fa-2x fa-heart"></i></a>
              <a><i class="fa-regular fa-2x fa-eye"></i></a>
            </div>
            <img
            [src]="roomsData[4].images[0]"
              alt="most picked"
              class="img-fluid h-100"
            />
            <div class="caption-item">
              <h5>{{roomsData[4].Number }}</h5>
              <p>{{roomsData[4].price }}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
