<section id="most-picked" class="py-5">
  <div class="container">
    <h5 class="mb-3">Most Picked</h5>
    <div
      class="d-flex justify-content-md-between gap-5 flex-column flex-md-row"
    >
      <div class="card-item">
        <h5>$50 <span> per night</span></h5>
        <div class="links">
          <a><i class="fa-regular fa-2x fa-heart"></i></a>
          <a><i class="fa-regular fa-2x fa-eye"></i></a>
        </div>

        <img
          src="./../../../../../../../../assets/images/most-picked-1.jpg"
          alt="most picked"
          class="img-fluid h-100 w-100"
        />
        <div class="caption-item">
          <h5>Name House</h5>
          <p>city, country</p>
        </div>
      </div>
      <div class="d-flex flex-column gap-5  ">
        <div class="h-100 card-item">
          <h5>$50 <span> per night</span></h5>
          <div class="links">
            <a><i class="fa-regular fa-2x fa-heart"></i></a>
            <a><i class="fa-regular fa-2x fa-eye"></i></a>
          </div>
          <img
            src="./../../../../../../../../assets/images/most-picked-2.jpg"
            alt="most picked"
            class="img-fluid h-100"
          />
          <div class="caption-item">
            <h5>Name House</h5>
            <p>city, country</p>
          </div>
        </div>
        <div class="h-100 card-item">
          <h5>$50 <span> per night</span></h5>
          <div class="links">
            <a><i class="fa-regular fa-2x fa-heart"></i></a>
            <a><i class="fa-regular fa-2x fa-eye"></i></a>
          </div>
          <img
            src="./../../../../../../../../assets/images/most-picked-3.jpg"
            alt="most picked"
            class="img-fluid h-100"
          />
          <div class="caption-item">
            <h5>Name House</h5>
            <p>city, country</p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column gap-5  ">
        <div class="h-100 card-item">
          <h5>$50 <span> per night</span></h5>
          <div class="links">
            <a><i class="fa-regular fa-2x fa-heart"></i></a>
            <a><i class="fa-regular fa-2x fa-eye"></i></a>
          </div>
          <img
            src="./../../../../../../../../assets/images/most-picked-4.jpg"
            alt="most picked"
            class="img-fluid h-100"
          />
          <div class="caption-item">
            <h5>Name House</h5>
            <p>city, country</p>
          </div>
        </div>
        <div class="h-100 card-item">
          <h5>$50 <span> per night</span></h5>
          <div class="links">
            <a><i class="fa-regular fa-2x fa-heart"></i></a>
            <a><i class="fa-regular fa-2x fa-eye"></i></a>
          </div>
          <img
            src="./../../../../../../../../assets/images/most-picked-5.jpg"
            alt="most picked"
            class="img-fluid h-100"
          />
          <div class="caption-item">
            <h5>Name House</h5>
            <p>city, country</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
