<section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mt-3">
          <div>
            <h4>Rooms Table Details</h4>
            <p>You can check all details</p>
          </div>
        </div>
<!--   
        <div class="col-md-4">
          <button routerLink="/dashboard/rooms/add" class="primary w-75 mt-5">Add New Room</button>
        </div> -->
  
        <div class="col-md-6 mt-3">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <!-- <input [(ngModel)]="searchValue" (keyup)="onSearchInputChange()" type="text" placeholder="Search Here...." -->
          </div>
        </div>
  
        <div class="col-md-3 mt-3">
          <!-- <select class="form-select" aria-label="Default select example">
            <option selected>All</option>
            <option></option>
          </select> -->
        </div>
  
        <div class="col-md-3 mt-3">
          <!-- <select  [(ngModel)]="facilityId" (change)="getAllRooms()" class="form-select" aria-label="facilities">
            <option selected>All</option>
            <option *ngFor="let item of facilities" [ngValue]="item._id">{{item.name}}</option>
          </select> -->
        </div>
      </div>
  
  
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="rounded-start">ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of facilities">
            <td>{{item._id}}</td>
            <!-- <td class="w-25 rounded-2"><img [src]="imagePath +item.images" class="w-50"></td> -->
            <td>{{item.name}}</td>
            <!-- <td>{{item.discount}}</td>
            <td>{{item.capacity}}</td>
            <td>{{item.facilities[0].name}}</td> -->
  
    </tr>
    </tbody>
    </table>
<!--   
    <div>
      <mat-paginator [length]="tableResponse?.totalCount" [pageSizeOptions]="[5, 10, 50, 100]"
        [pageSize]="tableResponse?.size" (page)="handlePageEvent($event)" [pageIndex]="pageIndex"
        aria-label="Select page">
      </mat-paginator>
    </div> -->
  
    </div>
  </section>