<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3">
        <div>
          <h4>Facilities Table Details</h4>
          <p>You can check all details</p>
        </div>
      </div>

      <div class="col-md-4">
        <button type="button" (click)="openAddDialog()" class="primary w-100 mt-5">Add New Facilities</button>
      </div>

      <div class="col-md-8 mt-3">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input [(ngModel)]="searchValue" (keyup)="getAllFacilities()" type="text" placeholder="Search Here...."
            class="form-control rounded">
        </div>
      </div>

      <table>
        <thead>
          <tr>
            <th class="rounded-start">Name</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th class="rounded-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData; let isEven = even" [class]="isEven ? '':'bg-table' ">
            <td class="rounded-start">{{item.name}}</td>
            <td>{{item.createdAt |date: 'dd-MM-yyyy'}}</td>
            <td>{{item.updatedAt |date: 'dd-MM-yyyy'}}</td>


            <td class="nav-item dropdown rounded-end">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-ellipsis" style="color: #1f5141;"></i>
              </a>
              <ul class="dropdown-menu">
                <div class="d-flex flex-column align-items-center">
            <td>
              <a (click)="openEditDialog(item)" [routerLink]="['/dashboard/Facilities/edit',item._id]"
                class="text-decoration-none cursor bg-btn"><i
                  class="fa-solid fa-pen-to-square mx-2 bg-icon"></i>Edit</a>
            </td>
            <td>
              <a (click)="openDeleteDialog(item)" class="text-decoration-none cursor bg-btn"><i
                  class="fa-solid fa-trash-can mx-2 bg-icon"></i>Delete</a>
            </td>

            
    </div>
    </ul>
    </td>
    </tr>
    </tbody>
    </table>
      
    <div class="p-3">
      <mat-paginator 
        [length]="tableResponse?.totalCount" 
        [pageSizeOptions]="[5, 10, 50, 100]"
        (page)="handlePageEvent($event)" 
        [pageIndex]="pageIndex"
        aria-label="Select page">
      </mat-paginator>
    </div>


  </div>
  </div>
</section>