<section>
  <div class="container">
    <div class="row">
        <div>
          <h4>Facilities Table Details</h4>
          <p>You can check all details</p>
        </div>
      <div class="row my-3">
          <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input [(ngModel)]="searchValue" (keyup)="onSearchInputChange()" type="text" placeholder="Search Here...." class="form-control rounded">
          </div>
        </div>
        <div class="col-md-3 mx-auto">
          <button type="button" (click)="openAddDialog()" class="primary w-100">Add New Facilities</button>
        </div>
      </div>
      

      

      <table>
        <thead>
          <tr>
            <th class="rounded-start">Facilities Name</th>
            <!-- <th>Created By</th> -->
            <th>Created At</th>
            <th>Update dAt</th>
            <th>View</th>
            <th class="rounded-end">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData; let isEven = even" [class]="isEven ? '':'bg-table' ">
            <td class="rounded-start">{{item.name}}</td>
            <!-- <td>{{item.createdBy.userName}}</td> -->
            <td>{{item.createdAt | date: 'dd/mm/yyyy'}}</td>
            <td>{{item.updatedAt | date: 'dd/mm/yyyy'}}</td>
            <td><a [routerLink]="['/dashboard/Facilities/edit',item._id]"
              (click)="openEditDialog(item)" class="pointer">
              <i class="fa-regular fa-eye ms-2 bg-icon"></i></a>
            </td>
            <td><i (click)="openDeleteDialog(item)" class="fa-regular fa-trash-can ms-2 text-danger pointer"></i></td>

            
    </tr>
    </tbody>
    </table>
    <!-- <mat-paginator
      #paginator
      (page)="handlePageEvent($event)"
      [length]="tableResponse?.totalCount"
      [pageSize]="tableResponse?.pageSize"
      [pageSizeOptions]="[10, 25, 50]"
      [pageIndex]="tableResponse?.pageNumber"
      aria-label="Select page"
    >
    </mat-paginator> -->

  </div>
  </div>
</section>
