<section id="footer">
  <div class="container-fluid">
      <div class="row d-flex">
          <div class="col-3 logo">
              Stay<span>cation.</span>
              <h5>We kaboom your beauty holiday</h5>
                 <h5> instantly and memorable.</h5>
          </div>
          <div class="col-3">
              <span>For Beginners.</span>
              <h5>New Account</h5>
              <h5>Start Booking a Room</h5>
              <h5>Use Payments</h5>

          </div>
          <div class="col-3">
              <span>Explore Us.</span>
              <h5>Our Careers</h5>
              <h5>Privacy</h5>
              <h5>Terms & Conditions</h5>

          </div>
          <div class="col-3">
              <span>Connect Us.</span>
              <h5>support@staycation.id</h5>
              <h5>021 - 2208 - 1996</h5>
              <h5>Staycation, Kemang, Jakarta</h5>

          </div>
          <p class="text-center mt-5">Copyright 2019 • All rights reserved • Staycation</p>
      </div>
  </div>

</section>
