<section id="footer" class="mt-4">
  <div class="container-fluid">
      <div class="row d-flex">
          <div class="col-3 logo">
              {{'footer.Stay' | translate}} <span> {{'footer.cation' |translate}}</span>
              <h5>{{'footer.headerOne' |translate}}</h5>
                 <h5>{{'footer.headerTwo' |translate}}</h5>
          </div>
          <div class="col-3">
              <span>{{'footer.Beginners' |translate}}</span>
              <h5 class="pointer">{{'footer.BeginnersHeaderOne' |translate}}</h5>
              <h5 class="pointer">{{'footer.BeginnersHeaderTwo' |translate}}</h5>
              <h5 class="pointer">{{'footer.BeginnersHeaderThree' |translate}}</h5>

          </div>
          <div class="col-3">
              <span>{{'footer.Explore' |translate}}</span>
              <h5 class="pointer">{{'footer.ExploreHeaderOne' |translate}}</h5>
              <h5 class="pointer">{{'footer.ExploreHeaderTwo' |translate}}</h5>
              <h5 class="pointer">{{'footer.ExploreHeaderThree' |translate}}</h5>

          </div>
          <div class="col-3">
              <span>{{'footer.Connect' |translate}}</span>
              <h5>{{'footer.ConnectHeaderOne' |translate}}</h5>
              <h5>{{'footer.ConnectHeaderTwo' |translate}}</h5>
              <h5>{{'footer.ConnectHeaderThree' |translate}}</h5>

          </div>
          <p class="text-center mt-3">{{'footer.Copyright' |translate}}</p>
      </div>
  </div>

</section>
