//shared utilites for all project

.logo {
  color: $text-mainColor;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  span {
    color: $text-secondryColor;
  }
  p{
    color: $text-secondryColor;
    font-size: 14px;
  }
}

button {
  border-radius: $border-reduis;
  padding: .5rem;
  transition: all .3s ease-in;
  &.primary {
    background: $bg-mainColor;
    color: $text-whiteColor;
  }
  &.outline-primary{
    color: $text-mainColor;
    border: 2px solid $text-mainColor;
  }
  &:hover {
    opacity: 0.9;
    transform: translateY(-4px);
    box-shadow: -2px 2px 2px 2px  rgba($text-secondryColor, 0.3);
  }
}

.circle-preview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px dashed $text-secondryColor;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.dropzone{
  border: 2px dashed $text-secondryColor;
  background-color: #f5f6f8;
}
.pointer {
  cursor: pointer;
}

// Table

th {
  font-style: normal;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  padding: 20px;
  background: #E2E5EB;
  color: #1F263E;

}
.rounded-start{
  border-radius: 15px 0 0 15px !important;
}
.rounded-end{
  border-radius: 0 15px 15px 0 !important;
}

.dropdown-toggle::after {
  display: none;
}
.dropdown-item:hover{
  background-color: #3252DF !important;
  color: #fff;
  cursor: pointer;
  i{
    color: #fff;
  }
}

tbody>tr {
  transition: all 0.1s ease;
}
tbody>tr:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
  position: relative;
}

td {
  padding: 8px 25px;
}

//sticky  nav and side bar class
.sticky {
  position: sticky;
  top: 0;
  z-index: 500;
}


//nowraping for text
.text-nowrap{
  text-wrap: nowrap;
}
