$text-mainColor: #3252DF;
$text-secondryColor: #152C5B;
$text-lightGrey: #4D4D4D;
$text-whiteColor: #FDFFFC;
$text-greenColor: #1ABC9C;
$text-blackColor: black;
$text-blackColorBtn: #1F263E;
$text-grayColor: #F5F6F8;

$bg-mainColor: #3252DF;
$bg-secondryColor: #152C5B;
$bg-lightGrey: #4D4D4D;
$bg-whiteColor: #FDFFFC;
$bg-pinkColor: #FF498B;
$bg-redColor: #E74C3C;
$bg-greenColor: #1ABC9C;
$bg-blueColor: #203FC7;
$bg-whiteColorTable: #F8F9FB;
$bg-colorGray:#B0B0B0;

$border-reduis: 0.25rem;
$transitoon: all 0.3s ease-in;
.text-mainColor{
  color: $text-mainColor;
}
.text-secondryColor{
  color: $text-secondryColor;
}
.text-lightGrey{
  color: $text-lightGrey;
}
.text-redColor{
  color: $bg-redColor;
}
.text-whiteColor{
  color: $text-whiteColor !important;
}
.text-gray{
  color: $text-lightGrey;
}
.bg-main{
  background: $bg-mainColor;
}
.bg-secondary{
  background: $bg-secondryColor;
}
.bg-red{
  background: $bg-redColor;
}
.bg-profile{
  background: #F4CE9B;
}

.bg-btn{
  color: $text-blackColorBtn;
}
.bg-icon{
  color: $bg-blueColor;
}
.bg-table{
  background-color: $bg-whiteColorTable;
}
.greenColor{
  color: $text-greenColor;
}
.bg-green{
  background: $bg-greenColor;
}
.bg-gray{
  background-color: $text-grayColor;
}
