@import "~ng-zorro-antd/date-picker/style/index.min.css";
@import "~ng-zorro-antd/calendar/style/index.min.css";
@import "~ng-zorro-antd/timeline/style/index.min.css";
@import "~ng-zorro-antd/select/style/index.min.css";
@import "~ng-zorro-antd/popconfirm/style/index.min.css";

@import "~ng-zorro-antd/pagination/style/index.min.css";
@import "~ng-zorro-antd/steps/style/index.min.css";

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import "~ng-zorro-antd/rate/style/index.min.css";


@import "./abstracts/components/auth.scss";
@import "./abstracts/components/home.scss";
@import "./abstracts/components/sidebar.scss";
@import "./abstracts/components/dashboardHome.scss";
@import "./abstracts/components/landing.scss";
@import "./abstracts/components/notFound.scss";
@import "./abstracts/components/booking.scss";

@import "./abstracts/_utilites.scss";
@import "./abstracts/_variables.scss";

@import "./base/_typography.scss";
@import "./base/_base.scss";


